.Signup-container {
    min-height: 100vh;
    width: 100%;
    padding: 24px;
    background-color: aliceblue;
}

.Signup-box {
    padding: 15px 24px;
}

.Signup-box .MuiSvgIcon-root {
    font-size: 14px;
    color: rgb(104, 104, 255);
}

.Signup-box .MuiSvgIcon-colorError {
    color: #d32f2f;
}

.Signup-box .MuiSvgIcon-colorSuccess {
    color: rgb(102 187 106)
}

.Signup-box .MuiOutlinedInput-input {
    font-size: 14px;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    text-transform: lowercase;
}

.MuiButton-root.Signup-btn {
    background-color: rgb(104, 104, 255);
    font-family: "Nunito", sans-serif;
}

.Signup-container a {
    font-family: "Nunito", sans-serif;
    color: rgb(104, 104, 255);
}

.Signup-box .OTP-input .MuiOutlinedInput-input {
    font-size: 18px;
    font-weight: 800;
    font-family: "nunito", sans-serif;
    letter-spacing: 5px;
}

.Signup-box .MuiSvgIcon-fontSizeMedium {
    font-size: 14px !important;
    color: rgb(104, 104, 255);
}