.Login-container {
    min-height: calc(100vh - 64px);
    width: 100%;
    padding: 24px;
    background-color: aliceblue;
}

.Login-box {
    padding: 15px 24px;
}

.Login-box .MuiSvgIcon-root {
    font-size: 14px;
    color: rgb(104, 104, 255);
}

.Login-box .MuiSvgIcon-colorError {
    color: #d32f2f;
}

.Login-box .MuiSvgIcon-colorSuccess {
    color: rgb(102 187 106)
}

.Login-box .MuiOutlinedInput-input {
    font-size: 14px;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
}

.MuiButton-root.Login-btn {
    background-color: rgb(104, 104, 255);
    font-family: "Nunito", sans-serif;
}

.Login-container a {
    font-family: "Nunito", sans-serif;
    color: rgb(104, 104, 255);
}