/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Staatliches");
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* Scroll Bar css */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(189, 207, 247);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(73, 137, 255);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(73, 137, 255);
}